/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* header */

a {
  text-decoration: none;
  color: var(--text-color);
}

.topheader {
  position: fixed;
  box-shadow: 0 4px 5px #5d5d5d;
  background-color: #e4e4e4;
  left: 0;
  top: 0;
  width: 100%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  max-width: 1116px;
  margin: 0 auto;
}

/*Imagen*/

.chef img {
  border-radius: 30%;
  height: 40px;
  width: 40px;
  position: relative;
}

/*Menu*/
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0 20px;
}

.menu a {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 17px;
  font-weight: 1000;
  line-height: 50px;
}


.alerta {
  text-align: center;
  width: 450px;
  height: 20px;
  border: 3px solid #f18432;
  border-radius: 4px;
  margin: 50px auto 10px;
  background-color: #e72e51;
  color: white;
}

.bueno {
  text-align: center;
  width: 450px;
  height: 20px;
  /* border: 3px solid #e4ff4d; */
  border-radius: 4px;
  margin: 86px auto -52px;
  padding: 15px;
  background-color: #8eefb7;
  color: rgb(0, 0, 0);
}

.titulo {
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-ingredientes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
  }

  /* */
  .container-imagen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 15px;
  }
  
  
  .input-file-upload {
	display: flex;
	flex-direction: column;
  }
  
  .upload-btn {
	position: relative;
	overflow: hidden;
	display: inline-block;

	width: 305px;
	border: 2px dashed rgb(0, 0, 0) !important;
	border-color: #333;
	font-size: 10px;
	font-weight: 300;
	text-align: center;
	padding: 5px 40px;
	background-color: #f2e7e9;
	/* cursor: pointer; */
  }
#msform .input-file-upload .upload-btn input[type="file"] {
	margin: 0;
	padding: 0;
	border: none;
	/* font-size: 100px; */
	position: relative;
	/* left: 0;
	top: 0; */
	opacity: 0;
	cursor: pointer;
  }
  
  .upload_img {
	display: inline-block;
	border: 3px solid rgb(245, 121, 6);
	width: 383px;
	height: 300px;
	border-radius: 10px;
	object-fit: cover;
	object-position: 50% 50%;
	vertical-align: middle;
	margin-top: 20px;
  }


/* */
/*form styles*/
#msform {
	width: 900px;
	height: 600px;
	margin: 57px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	text-align: left;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
	width: 98%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#msform label {
	font-weight: 800;
	font-size: 16px;
	margin-bottom: 20px;
  }
/*buttons*/
#msform .action-button {
	width: 100px;
	background: linear-gradient(180deg, #e72e51 0%, #f18432 100%);
  background-blend-mode: lighten;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px hsl(18, 49%, 26%);
}
/*headings*/
.fs-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #9c4b28;
	color: white;
}