/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  width: 253px;
  height: 246px;
  display: flex;
  padding: 1rem;
}

.card {
  width: 100%;
  background: #ffffff;
  /* sombras*/
  box-shadow: 0px 0px 7px 0px rgba(150, 150, 150, 1);

  /* curvas en esquinas */
  border-radius: 0.5rem;

  transition: box-shadow 0.3s ease, transform 0.2s ease;

  /* posicion*/
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_image img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  /* vuelve el inicio de cada palabra en mayuscula*/
  text-transform: capitalize;
}

/* responsive*/
@media (min-width: 20rem) {
  .cards_item {
    width: 70%;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
}

/*Hover*/
.card:hover {
  box-shadow: 0 8px 50px #23232333;
  cursor: pointer;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover img {
  transform: translateY(-5%);
}

/* busqueda avanzada */
.contenedor {
  margin: auto;
  padding: 20px;
  width: 1100px;
}

.avanzado {
  /* sombras*/
  box-shadow: 0px 0px 7px 0px rgba(150, 150, 150, 1);
  padding: 1.3em 3em;
  font-size: 13px;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.avanzado:hover {
  background: linear-gradient(180deg, #e72e51 0%, #f18432 100%);
  background-blend-mode: lighten;
  color: #fff;
  transform: translateY(-7px);
}

.avanzado__opciones {
  display: none;

  margin-top: 20px;
  column-gap: 8%;
  justify-content: center;
}

select.opcion_dos,
.opcion__filtro {
  box-shadow: 0px 0px 3px 0px rgb(150 150 150);
}

.opcion,
.opcion_dos,
.opcion__filtro {
  /* sombras*/
  box-shadow: 0px 0px 7px 0px rgba(150, 150, 150, 1);
  display: flex;
  font-size: 14px;
  width: 170px;
  padding: 15px;
  padding-left: 7px;
  color: rgb(55 55 55);
  background-color: white;
  border: 2px solid rgba(100, 100, 100, 0.6);
  border-radius: 8px;
}

.opcion__filtro,
.opcion_dos {
  font-size: 13.5px;
  width: 201.5px;
}

.opcion__filtro::placeholder {
  padding-left: 25px;
  /* ÍCONO */
  background-image: url("../img/icon__filtro.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.opcion__filtro:focus,
.opcion:focus {
  outline: none;
}

/* header */
:root {
  --theme-color: white;
  --navbar-shallow-color: #e5e5e5;
  --text-color: black;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.6)
    ),
    url(../img/fondoclaro.png) no-repeat center center fixed;
  background-size: cover;
  color: var(--text-color);
  margin: 0%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.topheader {
  position: fixed;
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
  background-color: var(--theme-color);
  left: 0;
  top: 0;
  width: 100%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  max-width: 1116px;
  margin: 0 auto;
}

/*Imagen*/

.chef img {
  border-radius: 30%;
  height: 40px;
  width: 40px;
  position: relative;
}

/*Menu*/
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0 20px;
}

.menu a {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 17px;
  font-weight: 1000;
  line-height: 50px;
}

/*cuerpo*/

.horizontal-padding {
  padding-left: 75px;
  padding-right: 75px;
}

.vertical-padding {
  padding-top: 41px;
  padding-bottom: 20px;
}

.cuerpo-logo {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
}

.imagen-logo {
  width: 25%;
  max-width: 350px;
}

/*botones de seleccion*/
.ingredients {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.ingredients li {
  padding: 0 30px;
}
