:root {
  --backgroundButton: #e72e51;
  --font: "Quicksand", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  width: 100%;
}

.imagen-formulario {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10%;
}

.container__sixty {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.container__forty {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40%;
  min-height: 100%;
}

@media (min-width: 768px) {
  .imagen-formulario {
    height: auto;
  }
}

.contenedor-formulario {
  display: flex;
}

@media (min-width: 768px) {
  .contenedor-formulario {
    display: flex;
  }
}

.formulario {
  padding: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 4.5%;
}

.texto-formulario h2,
.input label {
  color: black;
}

.texto-formulario h2 {
  font-size: 60px;
  text-align: center;
}

.texto-formulario p {
  font-size: 18px;
  text-align: center;
}

.input label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.input input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 5px;
}

.input input[type="submit"] {
  border: none;
  background: linear-gradient(180deg, #e72e51 0%, #f18432 100%);
  background-blend-mode: lighten;
  cursor: pointer;
  outline: none;
  opacity: 90%;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  height: 80%;
  font-family: "Poppins", sans-serif;
  font-size: large;
  color: white;
  font-weight: bold;
}

.input input[type="submit"]:hover {
  animation: pulse 1s infinite;
  transition: 0.3s;
}

.Botones_Registro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
